<div class="col-md-12 portlet portlet_form portlet_form_survey">

	<div class="col-sm-12 col-md-12">
		<div class="row">
			
			<div class="col-md-12">
				<form action="">
					
					<div class="goto_left">
					</div>
					
					<div class="form-group"> 
						<div class="col-md-12 question question_collection"> 
							
							<!-- <div class="col-md-1">
								'+run_num+'
							</div>
							<div class="col-md-5">
								'+question+'
							</div>
							<div class="col-md-6 answer">
								<div class="">
									<div class="col-md-1"></div>
									<div class="col-md-2 answer_group1">
										<div class="row">
											<div class="col-md-12 radio_answer">
												'+ans_opt1+'
											</div>
											<div class="col-md-12 radio_button">
												<input type="radio" name="reg_type" id="individual"  checked="checked">
											</div>
										</div>
									</div>
									<div class="col-md-2 answer_group2">
										<div class="row">
											<div class="col-md-12 radio_answer">
												'+ans_opt2+'
											</div>
											<div class="col-md-12 radio_button">
												<input type="radio" name="reg_type" id="individual"  checked="checked">
											</div>
										</div>
									</div>
									<div class="col-md-2 answer_group3">
										<div class="row">
											<div class="col-md-12 radio_answer">
												'+ans_opt3+'
											</div>
											<div class="col-md-12 radio_button">
												<input type="radio" name="reg_type" id="individual"  checked="checked">
											</div>
										</div>
									</div>
									<div class="col-md-2 answer_group4">
										<div class="row">
											<div class="col-md-12 radio_answer">
												'+ans_opt4+'
											</div>
											<div class="col-md-12 radio_button">
												<input type="radio" name="reg_type" id="individual"  checked="checked">
											</div>
										</div>
									</div>
									<div class="col-md-2 answer_group5">
										<div class="row">
											<div class="col-md-12 radio_answer">
												'+ans_opt5+'
											</div>
											<div class="col-md-12 radio_button">
												<input type="radio" name="reg_type" id="individual"  checked="checked">
											</div>
										</div>
									</div>
								</div>
							</div> -->
							
						</div>
					</div>
					
					

					<div class="col-md-12 buttom">
						<div class="">
							<div class="col-md-6 goto_left">
								<button type="button" class="btn btn-default btn_cancel">Cancel</button>
							</div>

							<div class="col-md-6 goto_right">
								<button type="button" class="btn btn-primary btn_submit">Submit</button>
							</div>
						</div>
					</div>
					
				</form>
			
			</div>
			
		</div>
	</div>

</div>