<div class="col-md-12 portlet portlet_form">

	<div class="col-sm-12 col-md-12">
		<div class="row">
			
			<div class="col-md-12">
				
				<form action="#">

					<br>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Project Name : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Project Description : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<textarea class="form-control" rows="3" id="comment" placeholder="Hw/Sw Configuration Required"></textarea>
								<br>
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Upload Project Proposal: </label>  
						<div class="col-xs-8 col-sm-8 col-md-10">
							<div class="row">
								<div class="col-md-8">
								</div>
								<div class="col-md-4 goto_right">
									<br>
									<button type="button" class="btn btn-default">
										<i class="fa fa-upload" aria-hidden="true"></i>
										Uplaod File...
									</button>
									<br><br>
								</div>
							</div>
						
							<table class="table">
								<thead>
									<tr>
										<th class="col-md-2">No</th>
										<th class="col-md-8">Uploaded Documents</th>
										<th class="col-md-2">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>SRS.docx</td>
										<td>
											<button type="button" title="Details" class="btn btn-primary"><i class="fa fa-file" aria-hidden="true"></i> View</button>
											<button type="button" title="Edit" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
											<button type="button" title="Delete" class="btn btn-warning" data-toggle="modal" data-target=".btn_delete_popup"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
										</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Scope Of work.docx</td>
										<td>
											<button type="button" title="Details" class="btn btn-primary"><i class="fa fa-file" aria-hidden="true"></i> View</button>
											<button type="button" title="Edit" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
											<button type="button" title="Delete" class="btn btn-warning" data-toggle="modal" data-target=".btn_delete_popup"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					

					<div class="col-md-12 buttom">
						<div class="">
							<div class="col-md-6 goto_left">
								<button type="button" class="btn btn-default btn_cancel">Cancel</button>
							</div>

							<div class="col-md-6 goto_right">
								<button type="button" class="btn btn-primary btn_submit">Submit</button>
							</div>
						</div>
					</div>
					
					
					
					
					</form>
			
			</div>
			
		</div>
	</div>

</div>