<div class="col-md-12 portlet_index">

	<div class="content">
		<div class="index_header">
			<div class="col-md-6 title">
			</div>
			<div class="col-md-6 button">
				<!-- <button type="button" class="btn btn-primary btn_add"><i class="fa fa-plus" aria-hidden="true"></i> Add</button> -->
				<form class="form-inline">
					<div class="form-group">
						<label class="sr-only" for="exampleInputAmount">Search</label>
						<div class="input-group">
							<input type="text" class="form-control" id="exampleInputAmount" placeholder="Search">
							<div class="input-group-addon btn btn-primary btn_search"><i class="fa fa-search" aria-hidden="true"></i></div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<!-- -- popup -- -->
		<div class="modal fade bs-example-modal-lg btn_delete_popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content">
					<div class="modal-title">
						<div class="title"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Training</div>
					</div>
					<div class="modal-body">
						<div class="content">Are you sure to delete this training?</div>
					</div>
					<div class="modal_button">
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
					</div>
				</div>
			</div>
		</div>
		<!-- -- popup -- -->
		
		<div class="index_table">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-3">Project Name</th>
						<th class="col-md-1">Project ID</th>
						<th class="col-md-1">Agency Name</th>
						<th class="col-md-3">Description</th>
						<th class="col-md-2">Action</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>

</div>